# Node.js dependencies
/node_modules

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env

# Build output
dist
build

# Coverage reports
coverage

# Dependency directories
jspm_packages/

# OS-specific files
.DS_Store
Thumbs.db

# IDE files
.idea
.vscode

# NPM package lock files (optional, usually included)
package-lock.json
yarn.lock

# Local environment settings
.env.local
.env.development.local
.env.test.local
.env.production.local
